---
import '../style/main.css'
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";


const { description, keywords } = Astro.props
const { frontmatter } = Astro.props




---

<html lang="en" class="overflow-x-clip">


    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={ frontmatter.description }>
        <meta name="keywords" content={keywords}>
        <link rel="icon" type="image/png" href="/images/logo.png">		
        <title>{ frontmatter.name }</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script src="https://paypal.com/sdk/js?debug=true&client-id=AWPk0BgwxNjRmX5Xm3sky2_3br58uBVe4j5sUX4q9hiQHhOnsL2XHVtCV1M_brEI7G6l57U16gQt4chE"></script>
	</head>
    <body id="body">
        <Nav />
    
        <div>
            <h1 class="h1">{ frontmatter.name }</h1>
            <div class="flex md:flex-row flex-col md:gap-10 justify-between items-start md:w-2/3 w-4/5 m-auto">
                <div class="md:w-1/2 h-full ">
                    <img src={ frontmatter.img } alt="" class="h-full mix-blend-multiply">
                </div>
                <div class="md:w-1/2 my-auto h-full bg-blue-100 rounded-md shadow-xl p-5 flex flex-col justify-between">
                   <div class="mb-5">
                        <p class="text-2xl">Specifications</p>
                        <ul class="">
                            { frontmatter.specs.map( spec => <li class="">● { spec }</li>) }
                        </ul>
                       
                   </div>
                    <div class="mb-5">
                        <p class="text-2xl">Description</p>
                        <p class=""> { frontmatter.description }</p>
                    </div>
                    <p class="text-2xl font-semibold text-blue-600">{ frontmatter.price }</p>
                    <div id="paypal"></div>
                </div>
            </div>

            <div>

            </div>
        </div>

        
        <Footer/>
    </body>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }

  paypal.Buttons({
          // Order is created on the server and the order id is returned
          createOrder: (data, actions) => {
          return fetch("/api/orders", {
              method: "post",
              // use the "body" param to optionally pass additional order information
              // like product skus and quantities
          })
          .then((response) => response.json())
          .then((order) => order.id);
          },
          // Finalize the transaction on the server after payer approval
          onApprove: (data, actions) => {
          return fetch(`/api/orders/${data.orderID}/capture`, {
              method: "post",
          })
          .then((response) => response.json())
          .then((orderData) => {
              
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              const transaction = orderData.purchase_units[0].payments.captures[0];
              alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
              
          });
          }
      }).render('#paypal');
</script>
    
   

</html>